<div class="container">
<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label for="username"></label>
        <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Enter Username" (keyup)="search()">
      </div>
    </form>
  </div>
</div>

<div *ngIf="user">
  <h1>{{user.name}}</h1>
  <div class="card">
    <div class="card-header">
      {{user.name}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img class="github avatar img-thumb" src="{{user.avatar_url}}">
        </div>
        <div class="col-md-8">
          <div class="stats">
            <span class="label label-default">{{user.public_repos}} Public Repos</span>
            <span class="label label-primary">{{user.public_gists}} Public Gists</span>
            <span class="label label-success">{{user.followers}} Followers</span>
            <span class="label label-info">{{user.following}} Following</span>
          </div>
            <br>
            <ul class="list-group">
                <li class="list-group-item"><strong>Username: </strong>{{user.login}}</li>
                <li class="list-group-item"><strong>Location: </strong>{{user.location}}</li>
                <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
                <li class="list-group-item"><strong>Blog: </strong>{{user.blog}}</li>
                <li class="list-group-item"><strong>Member Since: </strong>{{user.created_at}}</li>
            </ul>
        </div>
        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header">
        {{user.name}}s Repos
      </div>
      <div class="card-body">
        <div class="row">
          <div class="row">
            <div class="col-md-12">
                <div *ngFor="let repo of repos">
                    <div class="row">
                        <div class="col-md-9">
                          <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
                          <p>{{repo.description}}</p>
                        </div>
                        <div class="col-md-3">
                          <span class="label label-default">{{repo.watchers}} Watchers</span>
                          <span class="label label-primary">{{user.forks}} Forks</span>
                        </div>
                    </div>
              </div>
        </div>
  </div>
</div>



